[Desktop Entry]
Type=Link
Name=LXTerminal
Icon=/usr/share/pixmaps/lxterminal.xpm
URL=/var/lib/menu-xdg/applications/menu-xdg/X-Debian-Applications-Terminal-Emulators-lxterminal.desktop